.m-section {
  background-color: #fff;
  border-radius: 6px;

  & + & {
    margin-top: 24px;
  }

  &-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 110px;
    padding: 0 32px;
    font-family: PingFangSC-Medium;
    font-size: 32px;
    color: #000000;
    font-weight: 500;
    border-bottom: 2px solid #f2f2f2;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 8px;
      height: 40px;
      background: #2228e0;
    }
  }

  &-content {
    padding: 24px 0;
  }
}
